<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Pengembaraan Virtual</title>

    <!-- Import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
  <style>
    #pos1aset1 {
      transform: translate(374px, -76px);
    }
    
     #pos1aset2 {
      transform: translate(-25px, -165px));
    }
  </style>
  </head>
  <body style="background-color: black; background-image: none">
    <div class="wrapper">
      <div class="content" role="main">
      <img class="peta" src="https://cdn.glitch.me/55c23ebe-3a30-4684-9a46-e0295070a2bd%2Fpos1.jpg?v=1636405208856"/>
      <img id="pos1aset1" class="aset" src="https://cdn.glitch.me/2b366faa-6a5e-450a-9c96-5fae99ceedda%2Fpattern-disdik2.png?v=1636311432184"/>
      <img id="pos1aset2" class="aset" src="https://cdn.glitch.me/55c23ebe-3a30-4684-9a46-e0295070a2bd%2Fpattern-kominfo1.png?v=1636417936354"/>  
      </div>
    </div>
    <!-- The footer holds our remix button — you can use it for structure or cut it out ✂ -->
    <footer class="footer">
      <div>
        Syuaib
      </div>
    </footer>
    <script src="/script.js"></script>
    <script>
 
    </script>
  </body>
</html>
