<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="description" content="Video - A-Frame">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <title>ADVENTURE AR</title>
  <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
  <script src="https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar.js"></script>
  <script src="https://unpkg.com/aframe-event-set-component@4.2.1/dist/aframe-event-set-component.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/donmccurdy/aframe-extras@v6.1.1/dist/aframe-extras.min.js"></script>

  <script>
  AFRAME.registerComponent('play-on-click', {
  init: function () {
    this.onClick = this.onClick.bind(this);
  },
  play: function () {
    window.addEventListener('click', this.onClick);
  },
  pause: function () {
    window.removeEventListener('click', this.onClick);
  },
  onClick: function (evt) {
    var videoEl = this.el.getAttribute('material').src;
    if (!videoEl) { return; }
    this.el.object3D.visible = true;
    videoEl.play();
  }
});
    
  </script>
  
  
<style>
  body,
  html {
    margin: 0 !important;
    margin-left: 0 !important;
    position: static !important;
    width: 100vw !important;
  }

  video {
    width: 100vw !important;
    margin: 0 !important;
    position: static !important;
  }

 .a-dialog-allow-button {
  background-color: red;
}

.a-dialog-deny-button {
  background-color: blue;
}

.a-dialog-ok-button {
   background-color: green;
 }
  
   .arjs-loader {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arjs-loader div {
    text-align: center;
    font-size: 1.25em;
    color: white;
  }
  
  .hilang{
    display: none;
  }
</style>
</head>

<body>
<div class="hilang" id="divMintaFull">
    <button id="mintaFull" type="button" class="btn btn-primary" style="position:fixed;z-index:9999">
      fullscreen
    </button>
</div>

<div class="position-relative" style="z-index: 9999;">
  <div class="position-absolute" style="left: 2vw; top:1vh; color: #ffffff4f;">
    <small>Pengembaraan Virtual</small>
  </div>
</div>
  
  <div class="modal" tabindex="-1" id="modalSukses">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ADVENTURE AR</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Selamat Kamu Berhasil</p>
      </div>
    </div>
  </div>
</div>
  
  <div class="text-center d-block">
    <a-scene 
      vr-mode-ui="enabled: false;"
      allowButtonText="Mode landskap"
      arjs='sourceType: webcam; sourceWidth:1280; sourceHeight:960; displayWidth: 1280; displayHeight: 960;'>
      <a-assets>
        <a-asset-item id="animated-asset" src="https://raw.githubusercontent.com/nicolocarpignoli/nicolocarpignoli.github.io/master/ar-playground/models/CesiumMan.gltf"></a-asset-item>
       <video crossorigin="anonymous" id="videoku" autoplay src="https://cdn.glitch.me/55c23ebe-3a30-4684-9a46-e0295070a2bd%2Fopening.m4v?v=1636405279619" playsinline controls></video>
     <video crossorigin="anonymous" id="videoku2" autoplay src="https://cdn.glitch.me/55c23ebe-3a30-4684-9a46-e0295070a2bd%2Fyourwelcome.mp4?v=1636406042218" playsinline controls></video>
      </a-assets>
      
      <!-- we use cors proxy to avoid cross-origin problems -->
      <a-marker type="pattern" preset="custom" url="https://cdn.glitch.me/55c23ebe-3a30-4684-9a46-e0295070a2bd%2Fpattern-disdik2.patt">
        <a-entity
          text="value: Hello World"
        >  
        </a-entity>
        <a-entity 
          geometry="primitive: box"
          material="src: #videoku2"
          scale="4 4 0"
          rotation="-90 0 0"
          >
        </a-entity>
        
      </a-marker>

      <a-entity camera></a-entity>
    </a-scene>

  </div>

<!--         <iframe id="htmlElement" width="560" height="315" src="https://www.youtube.com/embed/5KjyTU07EHo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->


  <script>
   
    // aud.addEventListener("ended", function() {
    //   alert("The audio has ended");
    // });
    
    function putarScreen(){
      if(screen.orientation.type == 'portrait-primary'){
          let elem = document.documentElement;
          let mintaFull = document.getElementById('mintaFull');
          let divMintaFull = document.getElementById('divMintaFull');
        
          divMintaFull.setAttribute("class", "arjs-loader");
        
          mintaFull.addEventListener('click', ()=>{
               elem.requestFullscreen({ navigationUI: "show" })
              .then(() => {
              screen.orientation.lock("landscape")
                  .then(res => {
                  divMintaFull.setAttribute("class", "hilang");
                })
                .catch(err => {
                  console(err)
                })
            })
              .catch(err => {
              console(`An error occurred while trying to switch into full-screen mode: ${err.message} (${err.name})`);
            });
          })  
      }else{
        divMintaFull.setAttribute("class", "hilang");
      }
    }
 putarScreen()
    
    screen.orientation.addEventListener('change', function(e) {
      putarScreen()
    })
    



    
    
    
   let videoEl = document.querySelector('#videoku');
    
    // simpan iduser ke storage
    if(!localStorage.getItem('iduser')){
      localStorage.setItem('iduser', "{{iduser}}")
    }
    
    let modalSukses = document.getElementById('modalSukses')
  
    let params = {
      iduser: localStorage.getItem('iduser'),
      pos: "",
      aset: ""
    }
    
    kirim(params);
    
    function kirim(datauser){
      fetch("/", {
        method: 'POST',
        body: JSON.stringify(datauser)
      })
      .then(res => {
        return res.json();
      })
      .then(resp => {
        // if(resp.status){
           console.log(resp)
        // }
      })
    }
  
  </script>
</body>

</html>